body {
    background-color: #597713;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    margin-left: 35%;
    padding: 3%;
}

.search-container {
    width: 35%;
    background-color: #C1CFF6;
    padding: 3%;
    margin-left: 2%;
    box-shadow: 10px 10px;
    border-radius: 7%;
}

.results-container {
    width: 58%;
    /* border: 5px solid blue; */
    margin-left: 2%;
}

#fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#searchBtn {
    margin: 1%;
}

#searchResults {
    /* border: 5px solid black; */
    flex-wrap: wrap;
}

#city {
    color: white;
}

#wind-icon {
    width: 15%;
}
