main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-container {
    width: 35%;
    border: 5px solid red;
    margin-left: 2%;
}

.results-container {
    width: 58%;
    border: 5px solid blue;
    margin-left: 2%;
}

.search-btn {
    margin: 1%;
}
