main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-container {
    width: 35%;
    border: 5px solid red;
    margin-left: 2%;
}

.results-container {
    width: 58%;
    border: 5px solid blue;
    margin-left: 2%;
}

.fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#searchBtn {
    margin: 1%;
}

#searchResults {
    border: 5px solid black;
    flex-wrap: wrap;
}

#day1, #day2, #day3, #day4, #day5 {
    border: 5px solid pink;
    width: 17%;
}
